@{
    Layout = "_Layout";
}

<div class="ColumConteinerMainIndex">
    <div class="Line-Logo margin-bottom0 padding-left6">
        <p class="flex-item-400 Gray-085vw">
            <u class="Gray-085vwHover Poiner" onclick="location.href='@Url.Action("Index", "Home")'">Главная</u> / О компании
        </p>
    </div>

    <div class="Line-Logo margin-bottom0 padding-bottom0 padding-left6">
        <p class="flex-item Black-2vw">О компании</p>
    </div>

    <div class="Line-Logo shadow gap5">
        <div class="ColumConteiner width60">

            <div class="margin-bottom1">
                <p class="flex-item-400 Black-095vw">
                    Добро пожаловать в автосалон REVO.by – компанию, где рады всем автовладельцам и их автомобилям! У нас вы найдете следующие услуги:
                </p>
            </div>

            <div class="margin-bottom1">
                <p class="flex-item-400 Black-095vw">
                    <ul>
                        <li>Сможете быстро продать машину или, наоборот, приобретете новую модель по душе. Реализуем авто в кредит, а также в лизинг. Осуществляем срочный выкуп, принимаем транспорт на продажу с комиссией, становимся официальными посредниками при обмене автомобилей.</li>
                        <li>Получите разнообразный сопутствующий сервис. Помогаем подобрать наиболее подходящий автомобиль и при необходимости рассчитать оптимальную сумму и срок кредитования при покупке.</li>
                        <li>Всегда можете рассчитывать на профессиональную консультацию по автомобильной тематике. Наши специалисты подробно ответят на любые интересующие Вас вопросы, помогут определиться с выбором, подскажут, как лучше поступить в вашей ситуации.</li>
                        <li>Порадуетесь качественному и вежливому обслуживанию. Работаем на рынке с 2017 и за прошедший период успели заслужить доверие и положительные отзывы от наших клиентов.</li>
                        <li>Будете уверены в безопасности сотрудничества. Мы в обязательном порядке проверяем техническое состояние и юридическую историю всех поступающих к нам транспортных средств, а потому гарантируем, что приобретенное авто будет «чистым» во всех смыслах.</li>
                    </ul>
                </p>
            </div>

            <div class="margin-bottom1">
                <p class="flex-item-400 Black-095vw">
                    Приглашаем всех посетить наш офис и выставочный паркинг с машинами в наличии по адресу г. Могилев, ул. Ленинская, 81 (офис-первый уровень; авто-пятый уровень). Время работы – с 10 утра до 6 вечера каждый день,  воскресение-выходной. Всегда приятно вас видеть!
                </p>
            </div>         
        </div>

        <div class="ColumConteiner width40">
            <div class="Main-Line margin-bottom3 width80">
                <p class="flex-item-500 Black-1-5vw">Хотите купить авто?</p>
            </div>

            <div class="ColumHowSell margin-bottom3 width80 shadow">
                <i class="fa-solid fa-1 Step"></i>
                <p class="flex-item-500 Black-1-5vw">Выбираете автомобиль</p>
                <p class="Black-1vw">Выбираете любой автомобиль на нашем портале, который вы хотите приобрести</p>
            </div>

            <div class="ColumHowSell margin-bottom3 width80 shadow">
                <i class="fa-solid fa-2 Step"></i>
                <p class="flex-item-500 Black-1-5vw">Звонок менеджера</p>
                <p class="Black-1vw">Оставляете online-заявку с выбранным автомобилем и наш менеджер свяжется с Вами в ближайшее время</p>
            </div>

            <div class="ColumHowSell margin-bottom3 width80 shadow">
                <i class="fa-solid fa-3 Step"></i>
                <p class="flex-item-500 Black-1-5vw">Оформление сделки</p>
                <p class="Black-1vw">Приезжаете к нам по указанному адресу для осмотра автомобиля и оформления сделки в офисе компании</p>
            </div>
        </div>
    </div>
</div>
