@{
    Layout = "_Layout";
}

<div class="ColumConteinerMainIndex">
    <div class="Line-Logo margin-bottom0 padding-left6">
        <p class="flex-item-400 Gray-085vw">
            <u class="Gray-085vwHover Poiner" onclick="location.href='@Url.Action("Index", "Home")'">Главная</u> / Контакты
        </p>
    </div>

    <div class="Line-Logo margin-bottom0 padding-bottom0 padding-left6">
        <p class="flex-item Black-2vw">Контакты</p>
    </div>

    <div class="Line-Logo shadow gap5">
        <div class="ColumConteiner width30">

            <div class="margin-bottom1">
                <p class="flex-item-500 Black-1-5vw">
                    Телефоны
                </p>
            </div>

            <div class="margin-bottom1">
                <p class="flex-item-400 Black-095vw">
                    <ul>
                        <li>+375(29) 335-47-29</li>
                        <li>+375(33) 335-47-29</li>
                    </ul>
                </p>
            </div>

            <div class="margin-bottom1">
                <p class="flex-item-500 Black-1-5vw">
                    Адрес
                </p>
            </div>

            <div class="margin-bottom1">
                <p class="flex-item-400 Black-095vw">
                    <ul>
                        <li>
                            г.Могилев
                            ул.Ленинская д.81
                            (офис - первый этаж)
                        </li>
                    </ul>
                </p>
            </div>

        </div>

        <div class="ColumConteiner width30">
            <div class="margin-bottom1">
                <p class="flex-item-500 Black-1-5vw">                    
                    Время работы
                </p>
            </div>

            <div class="margin-bottom1">
                <p class="flex-item-500 Black-095vw">
                    <b>Отдел продаж</b>
                </p>
                <p class="flex-item-400 Black-095vw">
                    <ul>
                        <li>Пн — Вс: 10:00 — 18:00</li>
                        <li>Без обеда и выходных</li>
                    </ul>
                </p>
            </div>

            <div class="margin-bottom1">
                <p class="flex-item-400 Black-095vw">
                    <b>Кредитный отдел</b>
                </p>
                <p class="flex-item-400 Black-095vw">
                    <ul>
                        <li>Пн — Сб: 10:00 — 18:00</li>
                        <li>Воскресенье — выходной</li>
                    </ul>
                </p>
            </div>
        </div>

        <div class="ColumConteiner width40">
            <div class="Main-Line margin-bottom3 width80">
                <p class="flex-item-500 Black-1-5vw">Хотите купить авто?</p>
            </div>

            <div class="ColumHowSell margin-bottom3 width80 shadow">
                <i class="fa-solid fa-1 Step"></i>
                <p class="flex-item-500 Black-1-5vw">Выбираете автомобиль</p>
                <p class="Black-1vw">Выбираете любой автомобиль на нашем портале, который вы хотите приобрести</p>
            </div>

            <div class="ColumHowSell margin-bottom3 width80 shadow">
                <i class="fa-solid fa-2 Step"></i>
                <p class="flex-item-500 Black-1-5vw">Звонок менеджера</p>
                <p class="Black-1vw">Оставляете online-заявку с выбранным автомобилем и наш менеджер свяжется с Вами в ближайшее время</p>
            </div>

            <div class="ColumHowSell margin-bottom3 width80 shadow">
                <i class="fa-solid fa-3 Step"></i>
                <p class="flex-item-500 Black-1-5vw">Оформление сделки</p>
                <p class="Black-1vw">Приезжаете к нам по указанному адресу для осмотра автомобиля и оформления сделки в офисе компании</p>
            </div>
        </div>
    </div>
</div>
