@{
    Layout = "_Layout";
}

<div class="ColumConteinerMainIndex">
    <div class="Line-Logo margin-bottom0 padding-left6">
        <p class="flex-item-400 Gray-085vw">
            <u class="Gray-085vwHover Poiner" onclick="location.href='@Url.Action("Index", "Home")'">Главная</u> / Авто в лизинг
        </p>
    </div>

    <div class="Line-Logo margin-bottom0 padding-bottom0 padding-left6">
        <p class="flex-item Black-2vw">Авто в лизинг</p>
    </div>

    <div class="Line-Logo shadow gap5">
        <div class="ColumConteiner width60">
            <div class="margin-bottom1">
                <p class="flex-item-500 Black-2vw">
                    Лизинг автомобилей в Могилеве и Беларуси
                </p>
            </div>

            <div class="margin-bottom1">
                <p class="flex-item-400 Black-095vw">
                    Лизинг автомобиля – отличный способ приобрести авто, даже если у вас недостаточно средств и непривлекательная кредитная история. Больше не требуется одалживать или копить деньги для покупки. Благодаря автолизингу вы начнете ездить на собственной машине сразу же после оформления договора. При этом сумма, выплачиваемая за ее аренду, пойдет в зачет погашения общей стоимости.
                </p>
            </div>

            <div class="margin-bottom1">
                <p class="flex-item-400 Black-095vw">
                    Приобрести авто в лизинг крайне легко. Достаточно обратиться  к нашим компаниям-партнерам и они помогут оформить услугу в срок и на выгодных условиях.
                </p>
            </div>

            <div class="margin-bottom1">
                <p class="flex-item-400 Black-095vw">
                    <b><u>Наши компании-партнеры:</u></b>
                </p>
            </div>

            <div class="margin-bottom1">
                <p class="flex-item-400 Black-095vw">
                    <ul>
                        <li>Общество с ограниченной ответственностью "А-Лизинг"</li>
                    </ul>
                </p>
            </div>

            <div class="margin-bottom1">
                <p class="flex-item-400 Black-095vw">
                    <b><u>Для заключения сделки требуются:</u></b>
                </p>
            </div>

            <div class="margin-bottom1">
                <p class="flex-item-400 Black-095vw">
                    <ul>
                        <li>Паспорт.</li>
                        <li>Первоначальный взнос (от 20% от цены автомобиля). до 10 000 byn справка о доходах не требуется.</li>
                        <li>Возраст от 18 лет.</li>
                    </ul>
                </p>
            </div>

            <div class="margin-bottom1">
                <p class="flex-item-400 Black-095vw">
                    <b><u>У покупки в лизинг есть и иные преимущества:</u></b>
                </p>
            </div>

            <div class="margin-bottom1">
                <p class="flex-item-400 Black-095vw">
                    <ul>
                        <li>Не нужны справка о доходах, страховка, КАСКО, наличие поручителей.</li>
                        <li>Сумма заема – от 1000  byn.</li>
                        <li>Срок кредитования от 12 до 84 мес.</li>
                    </ul>
                </p>
            </div>

            <div class="margin-bottom1">
                <p class="flex-item-400 Black-095vw">
                    Выбирая лизинг, помните, что эта процедура отличается от получения в кредит. Вы так же платите ежемесячные взносы, однако на этом сходство заканчивается. Вы получаете машину во временное владение от Лизингодателя, то есть все имущественные права на нее по-прежнему принадлежат компании-продавцу. При этом начинать пользоваться транспортом можно мгновенно после подписания договора и внесения первого платежа. Полноправным собственником авто вы становитесь после стопроцентной выплаты его стоимости.
                </p>
            </div>

            <div class="margin-bottom1">
                <p class="flex-item-400 Black-095vw">
                    Для получения дополнительной информации либо заказа услуги свяжитесь с нашими консультантами по номерам:
                </p>
            </div>

            <div class="margin-bottom1">
                <p class="flex-item-400 Black-095vw">
                    <ul>
                        <li><b>+375 29 335-47-29</b></li>
                        <li><b>+375 33 335-47-29</b></li>
                    </ul>
                </p>
            </div>
        </div>

        <div class="ColumConteiner width40">
            <div class="Main-Line margin-bottom3 width80">
                <p class="flex-item-500 Black-1-5vw">Хотите купить авто?</p>
            </div>

            <div class="ColumHowSell margin-bottom3 width80 shadow">
                <i class="fa-solid fa-1 Step"></i>
                <p class="flex-item-500 Black-1-5vw">Выбираете автомобиль</p>
                <p class="Black-1vw">Выбираете любой автомобиль на нашем портале, который вы хотите приобрести</p>
            </div>

            <div class="ColumHowSell margin-bottom3 width80 shadow">
                <i class="fa-solid fa-2 Step"></i>
                <p class="flex-item-500 Black-1-5vw">Звонок менеджера</p>
                <p class="Black-1vw">Оставляете online-заявку с выбранным автомобилем и наш менеджер свяжется с Вами в ближайшее время</p>
            </div>

            <div class="ColumHowSell margin-bottom3 width80 shadow">
                <i class="fa-solid fa-3 Step"></i>
                <p class="flex-item-500 Black-1-5vw">Оформление сделки</p>
                <p class="Black-1vw">Приезжаете к нам по указанному адресу для осмотра автомобиля и оформления сделки в офисе компании</p>
            </div>
        </div>
    </div>
</div>
