.my-form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

.form-control {
    border-radius: 5px;
    padding: 10px;
}

.btn {
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    width: 100%; 
    transition: background-color 0.3s;
}

    .btn:hover {
        background-color: #0056b3; /* Цвет кнопки при наведении */
    }

.text-danger {
    font-size: 0.9em;
}